#!/usr/bin/make -f

QT5_BUILD_DIR = build-qt5

%:
	dh $@ 

override_dh_auto_clean:
	dh_auto_clean
	rm -rf $(QT5_BUILD_DIR)

override_dh_auto_configure:
	dh_auto_configure -- -DKWALLET4=1
	dh_auto_configure --builddirectory=$(QT5_BUILD_DIR) 

override_dh_auto_build:
	dh_auto_build
	dh_auto_build --builddirectory=$(QT5_BUILD_DIR)

override_dh_auto_install:
	dh_auto_install
	dh_auto_install --builddirectory=$(QT5_BUILD_DIR)

override_dh_install:
	dh_install --fail-missing
